#outer{
    width:450px;
    height:500px;
    text-align:center;        
}
#btn{
    width:450px;
    height:50px;
}
#chessBoard{
    width:450px;
    height:450px;
    background: url(底板.png) no-repeat center;
}

.playBtn{
    width:50px;
    height:50px;
    vertical-align: middle;
}
.diamond{
    width: 100px;
    height:100px;
    position:relative;
    top:10px;
    left:10px;
    font-family:"黑体";
    font-size: 40px;
    font-weight:bold;
    line-height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#up{
    
}
#down{
    
}
#left{
    
}
#right{
    
}
