#outer{
    width:510px;
    height:600px;
    border:1px solid gray;
    text-align: center;
    background: url(底板.png) no-repeat center 120px;    
}
#up{
    width:50px;
    height:50px;
}
#down{
    width:50px;
    height:50px;
}
#left{
    width:50px;
    height:50px;
}
#right{
    width:50px;
    height:50px;
}